@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background: black;
    border: 1px solid white;
    box-shadow: 1px 2px 4px white;
}

.btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.gradient,
.active {
    background: black;
}

.active {
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
}


@layer utilities {
    .section {
        @apply py-4 lg:py-16 lg:h-full flex items-center;
    }
    .btn {
        @apply rounded-full text-white font-medium;
    }
    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }
    .btn-link {
        @apply text-base;
    }
}
